header{
    height:100px;
}

header > nav{
    display:flex;
    padding:1em 3em;
    height:100%;
    justify-content:center;
    gap:3em;
    align-items:center;
}

header > nav  > a{
    text-decoration:none;
    color:black;
    font-family: 'Playfair Display', serif;
    display:inline-block;
}

header > nav > .title{
    font-size:2em;
}