@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Playfair+Display&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.recipe-section{
    padding: 0 4em;
}

.ui-md-4{
    width:350px;
}

body .ui-card .ui-card-footer{
    padding:0;
}

body .ui-card .ui-card-body{
    padding:0.5rem 1rem;
}

.recipe-card-category-wrapper{
    display:flex;
    justify-content:space-between;
}

.recipe-card-category-wrapper>div:first-child{
    font-family: 'Inter', sans-serif;
    font-weight:bold;
}

.recipe-card-category-wrapper > .prep-time-wrapper{
    display:flex;
    gap:4px;
    font-size:0.9em;
}

.recipe-card-category-wrapper > .prep-time-wrapper > span{
    color:#636363;
}

.recipe-card-category-wrapper > .prep-time-wrapper > p{
    font-weight:bold;
}


.recipe-card-name{
    font-family: 'Playfair Display', serif;
    font-size:1.7em;
    padding:6px 0;
}

.recipe-card-desc{
    color:#636363;
    font-size:15px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ui-md-4 {
    width: 350px !important;
}